<aside [class.translate-x-0]="isOpen" [class.-translate-x-full]="!isOpen"
    class="bg-DarkGray dark:bg-SageGreen text-white h-full w-64 space-y-6 py-7 px-2 absolute inset-y-0 left-0 transform md:relative md:translate-x-0 transition duration-200 ease-in-out z-20">
    <nav>
        <a routerLink="/dashboard"
            routerLinkActive="bg-LightBeige text-DarkGreen dark:bg-DarkGreen dark:text-LightBeige"
            class="block py-2.5 px-4 rounded transition duration-200 hover:bg-SageGreen dark:hover:bg-DarkGray">
            Dashboard
        </a>
        <a routerLink="/tasks" routerLinkActive="bg-LightBeige text-DarkGreen dark:bg-DarkGreen dark:text-LightBeige"
            class="block py-2.5 px-4 rounded transition duration-200 hover:bg-SageGreen dark:hover:bg-DarkGray">
            Tasks
        </a>
        <a routerLink="/projects" routerLinkActive="bg-LightBeige text-DarkGreen dark:bg-DarkGreen dark:text-LightBeige"
            class="block py-2.5 px-4 rounded transition duration-200 hover:bg-SageGreen dark:hover:bg-DarkGray">
            Projects
        </a>
        <a routerLink="/events" routerLinkActive="bg-LightBeige text-DarkGreen dark:bg-DarkGreen dark:text-LightBeige"
            class="block py-2.5 px-4 rounded transition duration-200 hover:bg-SageGreen dark:hover:bg-DarkGray">
            Events
        </a>
    </nav>
</aside>
<div *ngIf="isOpen" (click)="onCloseSidebar()" class="fixed inset-0 bg-gray-900 bg-opacity-30 z-10 md:hidden"></div>