table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 30%;
  height: 30%;
}

mat-chip {
  background-color: #697565 !important;
}

.mat-mdc-standard-chip.active {
  background-color: #181c14 !important;
  transform: scale(1.1) !important;
}

mat-chip-set {
  display: inline-block;
  margin-left: auto;
}

.mat-column-actions {
  width: 10rem;
}
