<div class="container flex flex-col justify-center items-center gap-8 h-full">
    <div>
        <h1
            class="text-5xl font-semibold font-merienda text-center mb-4 bg-clip-text text-transparent bg-gradient-to-r dark:from-LightBeige dark:to-SageGreen from-DarkGreen to-SageGreen">
            Welcome to
            Productivity App</h1>
        <p class="text-2xl italic text-center font-light font-poppins font-sans text-DarkGreen dark:text-LightBeige">
            The Home Of
            Project
            Planning
        </p>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>