<div class="flex flex-col h-screen bg-LightBeige dark:bg-DarkGreen transition-colors duration-200">
  <!-- @if (auth.isLoggedInSignal()) { -->
  <app-header (toggleSidebar)="toggleSidebar()"></app-header>
  <!-- } -->
  <div class="flex flex-1 overflow-hidden">
    @if (auth.isLoggedInSignal()) {
    <app-sidebar [isOpen]="sidebarOpen" (closeSidebar)="closeSidebar()"></app-sidebar>
    }
    <main
      class="flex-1 overflow-x-hidden overflow-y-auto bg-LightBeige dark:bg-DarkGray transition-colors duration-200 p-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<!-- TODO:fix task view/comp 
TODO: jwt refresh token
TODO: sequelize date expiration hooks
TODO: include project name in task api call
TODO: implement profile page and profile image
TODO: retouch ui maybe change palette
TODO: reimplement dashboard to use charts
TODO: Add snackbar
TODO: improve error handling
TODO: maybe utilize directives for tasks and projects
TODO: Fix user menu in small screen sizes (and task table)
TODO: Export tasks as PDF
TODO: import tasks from pic/excel
TODO: implement forgot password functionality
-->