<div class="w-full h-full flex flex-col justify-center items-center gap-3">
    <h1 class="text-8xl">
        <i class="fa fa-search text-DarkGreen"></i><span class="ml-2 font-poppins text-yellow-600">Page Not
            Found!</span>
    </h1>
    <p class="italic text-DarkGreen text-2xl">Make sure the url is correct and try again...</p>
    <a href="/"
        class="rounded px-2 py-3 bg-DarkGreen text-LightBeige hover:scale-105 hover:shadow-[0_0_10px_0_white] transition"><i
            class="fa fa-home mr-2"></i>Home</a>
</div>